<%- include('layouts/header') %> 
<%- include('layouts/nav') %> 

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Final Project Praktikum Pemrograman Web</h1>
            <h3>CRUD App dengan ExpressJS</h3>
            <h4>Muhammad Wildan Firdausi</h4>
            <h4>Rizky Bagaskara</h4>
        </div>
    </div>
</div>