<%- include('layouts/header') %> 
<%- include('layouts/nav') %> 

<div class="container mt-4">
  <div class="col-md-8">
    <h2>Daftar Kontak Mahasiswa</h2>

    <a href="/contact/add" class="btn btn-primary mb-2">Tambah Data Kontak</a>

  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th scope="col">Nomor</th>
        <th scope="col">NPM</th>
        <th scope="col">Nama Lengkap</th>
        <th scope="col">Kelas</th>
        <th scope="col">Email</th>
        <th scope="col">Aksi</th>
      </tr>

      <!-- harus loop isi kontak tsb buat tambahin buttonnya -->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>51420127</td>
          <td>Rizky Bagaskara</td>
          <td>3IA01</td>
          <td>rzkybgs11@gmail.com</td>
          <!-- buttons -->
          <td><a href="" class="btn btn-success badge rounded-pill">Update</a>
            <br>
              <a href="" class="btn btn-danger badge rounded-pill">Delete</a>
            <br>
              <a href="" class="btn btn-info badge rounded-pill">Detail</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>51430214</td>
          <td>M Wildan Firdausi</td>
          <td>3IA01</td>
          <td>wildanfs@gmail.com</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>51323114</td>
          <td>M Arsyal</td>
          <td>3IA01</td>
          <td>marsyal@yahoo.com</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>509218453</td>
          <td>Nikolaus Georgi</td>
          <td>3IA01</td>
          <td>nxgeo@yahoo.com</td>
        </tr>
      </tbody>
    </thead>
  </table>
  </div>
</div>